commands:
  create-post-dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/enact"
    command: "mkdir -p /mnt/logs"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/06_run_clean_install.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      cd /var/app/current
      chmod 777 /var/app/current/run.sh